<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:700,400,300' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Roboto:500' rel='stylesheet' type='text/css'>
<div class="row">
	<h1 id="tagline">Contact the Creator</h1>
	<p align="center">
	    <br />
	    <img src="http://www.gravatar.com/avatar/c40c74b23b32fadea4d1f9f2efabc777?s=150" class="img-circle" />
	    <h3 class="title" align="center">
	        <a class="contact" href="http://www.jaiden-gerig.net/pages/about">Jaiden Gerig</a>
	    </h3>
		<p align = "center">
			<a class="contact" href="https://github.com/jaideng123"><i class="fa fa-github fa-lg"></i></a>  &nbsp;
		    <a class="contact" href="mailto:jaidengerig@gmail.com"><i class="fa fa-envelope fa-lg"></i></a>
	    </p>
  	</p>
</div>
<div class="row">
	<h3 align="center" style="font-family: 'Roboto Slab', serif; font-weight:300">
		Please contact me about any bugs, issues, or inquiries you have pertaining to this application
	</h3>
</div>
