/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require dataTables/jquery.dataTables
 *= require_self
 *= require bootstrap
 *= require metisMenu
 *= require dataTables.responsive
 *= require sb-admin-v2
 *= require morrisjs
 *= require font-awesome
*/
 
/* Fixes sidebar weirdness that occurs */
@media(min-width:768px) {
.sidebar {
z-index: 1;
position: absolute;
width: 250px;
margin-top: 55px;
}
.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
margin-left: auto;
}
}
.sidebar ul li{
	border-bottom: 1px solid #E7E7E7;
}
tr.hover {
   cursor: pointer;
   /* whatever other hover styles you want */
}
.dataTables_wrapper .dataTables_paginate .paginate_button{
	padding: 0;
}
@media(max-width:768px) {
select.form-control.input-sm{
	display: inline;
}
div.row{
	margin-right: 0px; 
}
}

.btn-custom-lighten.active {
  color: rgba(255, 255, 255, 0.75);
}
.btn-custom-lighten {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #37a2d8;
  background-image: -moz-linear-gradient(top, #279ad4, #4fafdf);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#279ad4), to(#4fafdf));
  background-image: -webkit-linear-gradient(top, #279ad4, #4fafdf);
  background-image: -o-linear-gradient(top, #279ad4, #4fafdf);
  background-image: linear-gradient(to bottom, #279ad4, #4fafdf);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff279ad4', endColorstr='#ff4fafdf', GradientType=0);
  border-color: #4fafdf #4fafdf #238abe;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #4fafdf;
  border-radius:6px;

  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-custom-lighten:hover,
.btn-custom-lighten:focus,
.btn-custom-lighten:active,
.btn-custom-lighten.active,
.btn-custom-lighten.disabled,
.btn-custom-lighten[disabled] {
  color: #ffffff;
  background-color: #4fafdf;
  *background-color: #3aa5db;
}
.btn-custom-lighten:active,
.btn-custom-lighten.active {
  background-color: #279ad4 ;
}
.submit-btn{
  width: 10em; 
  height: 2.5em;

}
.field_with_errors{
  display: block;
}

#error_explanation{
  width: 100%;
}